.dark-mode {
    // Background Dark
    body {
        background: map-get($map: $colors, $key: black-color) !important;
    }

    // Background Soft Dark
    .menu {
        background: map-get($map: $colors, $key: soft-black-color);
    }

    // Background Light
    .line1, .line2 {
        background: map-get($map: $colors, $key: white-color);
    }

    // Text Light
    p, a, i, h1, h2, h3 {
        color: map-get($map: $colors, $key: white-color) !important;
    }

}